@import './../styles/variable.scss';

.container{
    transition: 0.3s ease all;

    margin: 0;
    height: 500px;
    background: $dark;
    color: $light;
    display: flex;
     align-items:baseline;
    justify-content: flex-start;
    gap:200px;
    font-size: 14px;
    padding-top: 60px;
     padding-left: 300px;
    @include tablet{
         width: auto;
        flex-direction: column;
        padding: 0;
        padding-top: 40px;
        gap:5px;
    }
    ul{       
         list-style: none;

        li{
            margin-bottom: 20px;
           
           
        }
    }
    &_head{
        letter-spacing: 0.1em;
        color: $main;
        font-size: 16px;
    }
}